/* for laptop screen */
* {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
}

body {
    background-color: black;
    
}

.logo>img {
    height: 5rem;
    position: absolute;
    left: 5%;
    top: 2%;
}

.title {
    left: 5%;
    position: absolute;
    top: 25%;
    color: white;
}

.title>h1 {
    font-size: 7rem;
}

.title p {
    font-size: 2rem;
    font-style: italic;
    margin-top: 5%;
}

.Agency {
    color: #FFB6C1;
}

.services {
    color: #87CEEB;
}

.shape_1 {
    height: 700px;
    width: 600px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    position: absolute;
    border-radius: 10%;
    left: 60%;
    top: 5%;

}

.our-services{
    color: white;
    position: absolute;
    left: 240px;
    top: 5px;
}

hr {
    margin-top: 40px;
    margin-left: 5%;
    width: 89%;
}

.service-image{
    height: 160px;
    width: 160px;
    border-radius:10%;
    margin:25px;
    float:left;
    transition: transform 2s ease;
  }
  .service-image:hover{
    transform: scale(1.2);
  }
 .content{
    margin-top:10%;
    width:100%;
 }
  .second-box{
    clear:left;
  }
  .third-box{
    clear:left;
  }
  .s-title{
    text-transform:capitalize;
  }
  .s-desc{
    font-style: oblique;
  }

/* for phone screen */
@media (max-width:680px) {
    .logo>img {
        height: 2.5rem;
        left: 2.5%;
        top: 1%;
    }
    .title {
        top:10%;
    }
    
    .title>h1 {
        font-size: 4rem;
    }
    
    .title p {
        margin-top: 10%;
    }
.shape_1 {
    height: 700px;
    width:390px;
    border-radius:1%;
    top: 70%;
    left:0;
} 
.our-services{
    left: 125px;
}
.service-image{
    margin-left:10px;
    transition: transform 2s ease;
  }
}